.root {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

.grid  {
    display: flex;
    flex-wrap: wrap;
    width:560px;
    height: 560px;
    border: solid black;
}

.grid div{
    width:20px;
    height:20px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing:border-box;
}

.wall {
    background-color: blue;
}

.power-pellet{
    background-color: green;
    border-radius: 10px;
}

.pac-man{
    background-color: yellow;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;  
}

.special-ghost {
    background-color:purple;
}

.scared-ghost {
    background-color: rgb(15, 228, 157);
}